<form id="customForm"
      class="sz-flex">
       <input type="text"
              id=name
              placeholder="Enter Name"
              required />

       <input type="text"
              id=city
              placeholder="Enter City"
              required />

       <input type="text"
              id=age
              placeholder="Enter Age"
              required />
</form>

<button id="formPrint">Print Form Value</button>

<button id="popupBtn"
        class="sz-button-solid">Show Pop up</button>

<button id="sliderBtn"
        class="sz-button-solid">Show Slider</button>