@import '../common.scss';

sz-header {
    display: flex;
    height: 80px;
    background-color: map-get($light-theme, regular);

    header {
        width: 80%;
        display: flex;
        margin: 0 auto;
        font-family: serif;
        background: transparent;
        //     box-shadow: 0 1px 4px map-get($light-theme, shade);

        h1::first-letter {
            font-size: 40px;
        }

        .sz-action-nav {
            display: flex;
            align-items: center;
        }
    }
}