@import '../../../scss/color';

sz-header-backdrop {
    // position: absolute;
    height: 200px;
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}