<sz-header-backdrop>
    <button class='sz-demo-icon-close'
            id='close'>
        <sz-icon-close></sz-icon-close>
    </button>
    <h1>Popup Blocker</h1>
</sz-header-backdrop>
<div class="sz-main-body">
    <div class='sz-options-input-section'>
        <input type='text'
               class='sz-options-url-input'
               id='site'
               placeholder="whitelisted url for popup block">

        <div class='sz-options-input-button-group sz-flex-row'>
            <button class='sz-button-solid sz-options-btn'
                    id='optionsAdd'>ADD</button>
            <button class='sz-button sz-options-btn'
                    id='optionsClear'>CLEAR</button>
        </div>

    </div>
    <div class='sz-options-just-added sz-flex'>
        <h2 id='justAdd'>Just Added</h2>
        <div class="sz-options-just-added-list"></div>
    </div>
    <div class="sz-options-prev-added">
        <div class='sz-flex-row sz-flex-center'>
            <a class='sz-anchor-link sz-show-all' onclick="addUrl()"> Show All</a>
            <a class='sz-anchor-link sz-hide-all'> Hide All</a>
        </div>
        <h2 id='prevAdd'>Previously Added</h2>
        <div class="sz-options-url-list"></div>
    </div>
</div>