sz-options {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sz-demo-icon-close {
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    position: fixed;
    top: 10px;
    height: 30px;
    width: 30px;
    right: 10px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.sz-main-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 20px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.sz-options-input-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    .sz-options-url-input{
        height: 30px;
        font-size: large;
    }
    .sz-options-btn{
        width: 100%;
    }
}

.sz-options-url-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    sz-list {
        margin: 5px 0;
    }
}