<sz-header-backdrop>
    <button class='sz-demo-icon-close'
            id='close'>
        <sz-icon-close></sz-icon-close>
    </button>
    <h2>Popup Blocker</h2>
</sz-header-backdrop>
<div class="sz-main-body">
    <div class='sz-options-input-section'>
        <input type='text'
               class='sz-options-url-input'
               id='site'
               placeholder="whitelisted url for popup block">

        <div class='sz-options-input-button-group sz-flex-row'>
            <button class='sz-button-solid sz-options-btn'
                    id='optionsAdd'>ADD</button>
            <button class='sz-button sz-options-btn'
                    id='optionsClear'>CLEAR</button>
        </div>

    </div>
    <div class="sz-options-url-list">
    </div>
</div>