@import './color';

body {
    color: map-get($light-theme, text);
}

.sz-button {
    padding: 10px;
    border: 1px solid map-get($light-theme, regular);
    background: transparent;
    color: map-get($light-theme, regular);
    cursor: pointer;
    margin: 0 2px;

    &:hover,
    &:active,
    &:focus {
        border-color: map-get($light-theme, dark);
        color: map-get($light-theme, dark);
    }

    &:focus {
        outline-color: map-get($light-theme, dark);
    }
}

.sz-link {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: #000;
    padding: 10px;
    display: flex;
    margin: 0 2px;

    &:hover {
        border-color: #000;
    }

    &:focus {
        border-color: #000;
        outline-color: #000;
    }
}

.sz-spacer {
    flex: 1 0 auto;
}

.sz-input-wrapper {
    margin: 0px 10px;
}